@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./normalize.css");
@import "tailwindcss";
@theme {
  --color-brown: #654433;
}
@layer base {
  /* @tailwind base; */
  * {
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
  }
  .bar-scroll-blue::-webkit-scrollbar {
    width: 6px; /* Lebar scrollbar */
  }

  .bar-scroll-blue::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 20%; /* Warna track scrollbar */
  }

  .bar-scroll-blue::-webkit-scrollbar-thumb {
    background: #3b82f6; /* Warna thumb scrollbar */
    border-radius: 6px;
  }

  .bar-scroll-menu {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 0px;
  }
  .bar-scroll-menu::-webkit-scrollbar {
    height: 10px;
  }

  .bar-scroll-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px; /* Menambahkan margin atas */
    margin-bottom: 10px; /* Menambahkan margin bawah */
  }

  .bar-scroll-menu::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 10px;
  }

  body {
    @apply min-h-screen;
  }
}

@tailwind components;
@tailwind utilities;
